<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Consumption</title>
</head>
<body>

<!--<tr th:each="device : ${devices}">
    <td th:text="${device.getId()}">1</td>
    <td><a href="#" th:text="${device.getName()}">Title ...</a></td>
</tr>-->

<div>
    <a href="/tcontrol">Tcontrol</a>
</div>
<span></span>
<div>
    <a th:href="@{/device/hourlyconsumption/{tId}(tId=${devicesDaily[0].tId})}">Show hourly</a>
</div>

<script th:inline="javascript">

    /*<![CDATA[*/
        var listVals = /*[[${devicesDaily}]]*/ "Test2";
    /*]]>*/

    var tmp = 0;
    var tmpx = "";
    var dataPoints = [];
    var typeDev = 1;

    if(listVals[0].type == "HEATER") {
        typeDev = 1440;
    } else if (listVals[0].type == "WATERHEATER") {
        typeDev = 1500;
    }

    for(i=1; i<listVals.length; i++) {
        tmp = (listVals[i].sum - listVals[i-1].sum) / typeDev * 1000
        tmpx = listVals[i].obsDate.slice(5, 10) + " H" + listVals[i].obsDate.slice(11, 13);
        dataPoints.push(
            { label: tmpx, y: tmp}
        );
    }


    window.onload = function () {


        var options = {
            zoomEnabled: true,
            animationEnabled: true,
            title: {
                text: "Daily consumption of " + listVals[0].name
            },
            axisY: {
                title: "Daily consumption in Wt",
                includeZero: false
            },
            axisX: {
                title: "Hours",
                valueFormatString: "DD MMM",
                labelAngle: -60,
                interval: 1
            },

            data: [{
                type: "column",
                xValueFormatString: "DD MMM",
                yValueFormatString: "##0",
                dataPoints: dataPoints
            }]
        };


        $("#showChart").click(function() {

            $("#dialogBox").dialog({
                open: function(event,ui) {
                    $(".ui-widget-overlay").bind("click", function(event,ui) {
                        $("#dialogBox").dialog("close");
                    });
                },
                closeOnEscape: true,
                draggable: false,
                resizable: false,
                title: "Daily consumption",
                width: 700,
                modal: true,
                show: 500
            });
            $(".ui-widget-overlay").css({"background-color": "#111111"});
            $("#chartContainer").CanvasJSChart(options);
        });

    }
</script>
<style>
    #showChart{
        background-color: #5bb85b;
        color: #ffffff;
        padding: 10px;
        border: 0px;
        border-radius: 8px;
        font-size: 18px;
        outline: none;
        cursor: pointer;
    }
    #container{
        position: fixed;
        top: 50%;
        width:100%;
        text-align: center;
        margin-top: -41px;
    }
</style>
</head>
<div id="container">
    <button id="showChart">Click to Show Chart in a Pop-up</button>
</div>
<div id="dialogBox" style="display: none;">
    <div id="chartContainer" class="dialog" style="height: 300px; width: 100%;"></div>
</div>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>